<div class="document-manager" ng-controller="DocumentManagerController" ng-init="init()">
	<div class="page-header page-header-default">
		<div class="page-header-content">
			<div class="page-title">
				<h4>Collections</h4>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a ui-sref="search" class="btn btn-link btn-float text-size-small has-text"><i class="icon-search4 text-primary"></i> <span>Search</span></a>
					<a data-toggle="modal" data-target="#modal_theme_primary" class="btn btn-link btn-float text-size-small has-text"><i class="icon-database-add text-primary"></i> <span>Add</span></a>
				</div>
			</div>
		</div>

		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
				<li><a href="gallery_library.html">Documents</a></li>
			</ul>
		</div>

	</div>
	<div>
		<div class="panel panel-white">
			<div class="panel-heading">
				<h6 class="panel-title text-semibold">Uploaded Documents</h6>
				<div class="heading-elements">
					<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        		<li><a data-action="reload"></a></li>
        		<li><a data-action="close"></a></li>
          </ul>
        </div>
			</div>

			<table class="table table-striped media-library table-lg">
        <thead>
            <tr>
              <th>Preview</th>
              <th>Title</th>
              <th>Document ID</th>
              <th>Date</th>
              <th class="text-center">Actions</th>
            </tr>
        </thead>
				<tbody>
					<tr ng-repeat="document in documents">
            <td>
              <a href="assets/images/placeholder.jpg" data-popup="lightbox">
                <img ng-src="/images/{{ document.cover_img }}" alt="" class="img-rounded img-preview">
              </a>
            </td>
            <td><a href="#">{{document.title}}</a></td>
            <td><a href="#">{{document.filename.substring(document.filename.lastIndexOf("\\") + 1)}}</a></td>
            <td>{{document.uploaded | date:'yyyy-MM-dd' }}</td>
		        <td class="text-center">
		          <ul class="icons-list">
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown">
										<i class="icon-menu9"></i>
									</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-file-eye2"></i> View</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-bin"></i> Delete</a></li>
									</ul>
								</li>
							</ul>
		      	</td>
	        </tr>
				</tbody>

		</div>
	</div>
</div>

<div id="modal_theme_primary" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h6 class="modal-title">Add Document</h6>
			</div>
			<form id="file-upload-form">
				<div class="modal-body">
					<div class="form-group has-feedback has-feedback-left">
						<input type="text" class="form-control input-xlg" placeholder="Document Title" ng-model="doc.title">
						<div class="form-control-feedback">
							<i class="icon-book3"></i>
						</div>
					</div>
					<div class="form-group">
						<i class=" icon-file-text"></i>
						<div class="col-lg-10">
							<textarea rows="5" cols="5" class="form-control" placeholder="Document Description" ng-model="doc.description"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2">Document </label>
						<div class="col-lg-10">
							<input type="file" id="document"class="file-styled">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2">Cover Image(Optional) </label>
						<div class="col-lg-10">
							<input type="file" id="coverImage" class="file-styled">
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Close<span class="legitRipple-ripple" style="left: 62.714%; top: 73.6842%; transform: translate3d(-50%, -50%, 0px); width: 225.475%; opacity: 0;"></span></button>
					<button type="button" class="btn btn-primary legitRipple" ng-click="upload()">Upload</button>
				</div>
			</form>
		</div>
	</div>
</div>
