<div ng-controller="SearchController">
	<div class="search-box">
		<!-- Search field -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Search Repository </h5>
				<div class="heading-elements">
					<ul class="icons-list">
	            <li><a data-action="collapse"></a></li>
	            <li><a data-action="close"></a></li>
	        </ul>
	        </div>
				</div>

			<div class="panel-body">
				<form action="#" class="main-search">
					<div class="input-group content-group">
						<div class="has-feedback has-feedback-left">
							<input type="text" class="form-control input-xlg" ng-model="searchQuery">
							<div class="form-control-feedback">
								<i class="icon-search4 text-muted text-size-base"></i>
							</div>
						</div>

						<div class="input-group-btn">
							<button type="submit" class="btn btn-primary btn-xlg" ng-click="search(searchQuery)">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /search field -->
	</div>
</div>
