<div ng-controller="SearchController">
	<div class="search-box">
		<!-- Search field -->
		<div>
			<div class="panel-body">
				<h4 class="text-center content-group-lg">
							Welcome to Brill
							<small class="display-block">The Corporate knowledge base for the enterprise world!</small>
				</h4>
				<form class="main-search">
					<div class="input-group content-group">
						<div class="has-feedback has-feedback-left">
							<input type="text" class="form-control input-xlg" ng-model="searchQuery">
							<div class="form-control-feedback">
								<i class="icon-search4 text-muted text-size-base"></i>
							</div>
						</div>

						<div class="input-group-btn">
							<button type="button" class="btn btn-primary btn-xlg" ng-click="search(searchQuery)">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /search field -->

		<!-- Directory -->
		<h4 class="text-center content-group">
			<small class="display-block"><a ui-sref="document-manager">Dashboard <i class="icon-arrow-right16"></i></a></small>
		</h4>

	</div>
</div>
